<h1>Omni Case <%= case_nbr %></h1>
<p> Summary: <%= display %>
<p> Description: <%= description %>
<p> Date: <%= audit_created_at.strftime("%m/%d/%Y") %> </p>
<p> Owner: <%= owner_display %>
<p> Requestor: <%= requestor_display %>
<p> Reviewer: <%= reviewer_display %>
<p> State: <%= state %> </p>
<br>
<p> Notes </p>
<%= self.notes.order(audit_created_at: :desc).collect { |n| n.detail if n}.to_s.gsub(',','<p>').delete('[]') %>
